%h4 Programs
%table.table
  %thead
    %tr
      %th Program
      %th Program start date
      %th Finished toefl
      %th Toefl date
      %th Has research point
      %th Puplished a paper
      %th Is vtmena program
      - unless params[:show_only]
        %th
        %th
        %th
  %tbody
    - @student_programs.each do |student_program|
      %tr
        %td= student_program.ProgramClass.try(:name)
        %td= student_program.programStartDate
        %td= student_program.finishedToefl
        %td= student_program.toeflDate
        %td= student_program.hasResearchPoint
        %td= student_program.puplishedAPaper
        %td= student_program.isVTMENAprogram
        - unless params[:show_only]
          %td= link_to 'Show', student_program
          %td= link_to 'Edit', edit_student_program_path(student_program)
          %td= link_to 'Delete', student_program, method: :delete, data: { confirm: 'Are you sure?' }
%br/
- unless params[:show_only]
  = link_to 'Add Student program', new_student_program_path(student_program: {student_id: @student.id})
