%h1 Listing student_programs
%table
  %thead
    %tr
      %th Student
      %th Programclass
      %th Finishedtoefl
      %th Toefldate
      %th Hasresearchpoint
      %th Puplishedapaper
      %th Programstartdate
      %th Isvtmenaprogram
      %th Creator
      %th Modifier
      %th
      %th
      %th
  %tbody
    - @student_programs.each do |student_program|
      %tr
        %td= student_program.student
        %td= student_program.ProgramClass
        %td= student_program.finishedToefl
        %td= student_program.toeflDate
        %td= student_program.hasResearchPoint
        %td= student_program.puplishedAPaper
        %td= student_program.programStartDate
        %td= student_program.isVTMENAprogram
        %td= student_program.creator
        %td= student_program.modifier
        %td= link_to 'Show', student_program
        %td= link_to 'Edit', edit_student_program_path(student_program)
        %td= link_to 'Destroy', student_program, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Student program', new_student_program_path
