 
%p
  %strong Student:
  = @student_program.student.user.name
%p
  %strong Program class:
  = @student_program.ProgramClass.name
%p
  %strong Finished toefl:
  = @student_program.finishedToefl
%p
  %strong Toefl date:
  = @student_program.toeflDate
%p
  %strong Has research point:
  = @student_program.hasResearchPoint
%p
  %strong Puplished a paper:
  = @student_program.puplishedAPaper
%p
  %strong Program start date:
  = @student_program.programStartDate
%p
  %strong Is vtmen a program:
  = @student_program.isVTMENAprogram

= render 'student_program_status_histories/index'
= render 'student_program_warning_histories/index'
%hr
%h4 Courses
= render 'program_class_semester_courses/student_index'
= render 'student_program_professors/index'

/ = render 'student_program_giving_grades/show'