%p#notice= notice
%p
  %strong Student:
  = @student_program.student
%p
  %strong Programclass:
  = @student_program.ProgramClass
%p
  %strong Finishedtoefl:
  = @student_program.finishedToefl
%p
  %strong Toefldate:
  = @student_program.toeflDate
%p
  %strong Hasresearchpoint:
  = @student_program.hasResearchPoint
%p
  %strong Puplishedapaper:
  = @student_program.puplishedAPaper
%p
  %strong Programstartdate:
  = @student_program.programStartDate
%p
  %strong Isvtmenaprogram:
  = @student_program.isVTMENAprogram
%p
  %strong Creator:
  = @student_program.creator
%p
  %strong Modifier:
  = @student_program.modifier
= link_to 'Edit', edit_student_program_path(@student_program)
|
= link_to 'Back', student_programs_path
