 
%p
  %strong Student:
  = User.find(@student_program.student_id).name
%p
  %strong Programclass:
  = @student_program.ProgramClass.name
%p
  %strong Finishedtoefl:
  = @student_program.finishedToefl
%p
  %strong Toefldate:
  = @student_program.toeflDate
%p
  %strong Hasresearchpoint:
  = @student_program.hasResearchPoint
%p
  %strong Puplishedapaper:
  = @student_program.puplishedAPaper
%p
  %strong Programstartdate:
  = @student_program.programStartDate
%p
  %strong Isvtmenaprogram:
  = @student_program.isVTMENAprogram

= link_to 'Edit', edit_student_program_path(@student_program)
|
= link_to 'Back', student_programs_path

%hr
= render 'program_class_semester_courses/student_index'

/ = render ''

/ = render ''