%h1 Listing professors
%table.table
  %thead
    %tr
      %th National ID
      %th Name
      %th Mobilenumber
      %th Phonenumber
      %th Email
      %th
      %th
      %th
  %tbody
    - @professors.each do |professor|
      %tr
        %td= professor.nationalID
        %td= professor.name
        %td= professor.mobileNumber
        %td= professor.phoneNumber
        %td= professor.email
        %td= link_to 'Show', professor_path(professor)
        %td= link_to 'Edit', edit_user_path(professor)
        %td= link_to 'Delete', professor, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Professor', new_user_path
