%h1 Listing professors
%table
  %thead
    %tr
      %th User
      %th Professortitle
      %th Creator
      %th Modifier
      %th
      %th
      %th
  %tbody
    - @professors.each do |professor|
      %tr
        %td= professor.user
        %td= professor.professorTitle
        %td= professor.creator
        %td= professor.modifier
        %td= link_to 'Show', professor
        %td= link_to 'Edit', edit_professor_path(professor)
        %td= link_to 'Destroy', professor, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Professor', new_professor_path
