 
%p
  %strong User:
  = @professor.user
%p
  %strong Professortitle:
  = @professor.professorTitle
%p
  %strong Creator:
  = @professor.creator
%p
  %strong Modifier:
  = @professor.modifier
= link_to 'Edit', edit_professor_path(@professor)
|
= link_to 'Back', professors_path
