%h1 Listing grade_classes
%table
  %thead
    %tr
      %th Name
      %th Creator
      %th Modifier
      %th
      %th
      %th
  %tbody
    - @grade_classes.each do |grade_class|
      %tr
        %td= grade_class.name
        %td= grade_class.creator
        %td= grade_class.modifier
        %td= link_to 'Show', grade_class
        %td= link_to 'Edit', edit_grade_class_path(grade_class)
        %td= link_to 'Destroy', grade_class, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Grade class', new_grade_class_path
