%h1 Grades
%table.table
  %thead
    %tr
      %th Grade
      %th
      %th
      %th
  %tbody
    - @grade_classes.each do |grade_class|
      %tr
        %td= grade_class.name
        %td= link_to 'Show', grade_class
        %td= link_to 'Edit', edit_grade_class_path(grade_class)
        %td= link_to 'Delete', grade_class, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Grade class', new_grade_class_path
