%h1 Others
%br
= link_to "Universities", universities_path
%br
= link_to "Faculties", faculties_path
%br
= link_to "Departments", departments_path
%br
= link_to "Program Class Statuses",program_class_statuses_path
%br
%br
= link_to "Semesters", semesters_path
%br
= link_to "Professor Titles", professor_titles_path
%br
= link_to "User Types", user_types_path
%br
= link_to "Users", users_path
%br
%br
= link_to "Course Classes", course_classes_path
%br
= link_to "Grade Classes", grade_classes_path
%br
%br
= link_to "Priviledge Groups", privilege_groups_path
%br
= link_to "Priviledge Group Roles", privilege_group_roles_path

/ %br
/ = link_to ,