%h1 Program Class Statuses
%table.table
  %thead
    %tr
      %th Programclass
      %th Preprogramclass
      %th Status
      %th
      %th
      %th
  %tbody
    - @program_class_statuses.each do |program_class_status|
      %tr
        %td= program_class_status.programClass.name
        %td= program_class_status.preProgramClass.try(:name)
        %td= program_class_status.status
        %td= link_to 'Show', program_class_status
        %td= link_to 'Edit', edit_program_class_status_path(program_class_status)
        %td= link_to 'Delete', program_class_status, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Program class status', new_program_class_status_path
