%h1 Privilege Groups
%table.table
  %thead
    %tr
      %th Name
      %th
      %th
      %th
  %tbody
    - @privilege_groups.each do |privilege_group|
      %tr
        %td= privilege_group.name
        %td= link_to 'Show', privilege_group
        %td= link_to 'Edit', edit_privilege_group_path(privilege_group)
        %td= link_to 'Delete', privilege_group, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Privilege group', new_privilege_group_path
