%h1 Scientific Degree Class
%table.table
  %thead
    %tr
      %th Name
      %th
      %th
      %th
  %tbody
    - @sci_degree_classes.each do |sci_degree_class|
      %tr
        %td= sci_degree_class.name
        %td= link_to 'Show', sci_degree_class
        %td= link_to 'Edit', edit_sci_degree_class_path(sci_degree_class)
        %td= link_to 'Delete', sci_degree_class, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Sci degree class', new_sci_degree_class_path
