%h1 Professor Titles
%table.table
  %thead
    %tr
      %th Title
      %th
      %th
      %th
  %tbody
    - @professor_titles.each do |professor_title|
      %tr
        %td= professor_title.name
        %td= link_to 'Show', professor_title
        %td= link_to 'Edit', edit_professor_title_path(professor_title)
        %td= link_to 'Delete', professor_title, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Professor title', new_professor_title_path
