%h1 Listing courses
%table.table
  %thead
    %tr
      %th Coursename
      %th Creator
      %th Modifier
      %th
      %th
      %th
  %tbody
    - @courses.each do |course|
      %tr
        %td= course.CourseName
        %td= course.creator
        %td= course.modifier
        %td= link_to 'Show', course
        %td= link_to 'Edit', edit_course_path(course)
        %td= link_to 'Delete', course, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Course', new_course_path
