%h1 Listing universities
%table
  %thead
    %tr
      %th Name
      %th Creator
      %th Modifier
      %th
      %th
      %th
  %tbody
    - @universities.each do |university|
      %tr
        %td= university.name
        %td= university.creator
        %td= university.modifier
        %td= link_to 'Show', university
        %td= link_to 'Edit', edit_university_path(university)
        %td= link_to 'Destroy', university, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New University', new_university_path
