%h1 Universities
%table.table
  %thead
    %tr
      %th Name
      %th
      %th
      %th
  %tbody
    - @universities.each do |university|
      %tr
        %td= university.name
        %td= link_to 'Show', university
        %td= link_to 'Edit', edit_university_path(university)
        %td= link_to 'Delete', university, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New University', new_university_path
