%h1 Listing student_sci_degree_grades
%table
  %thead
    %tr
      %th Studentscidegree
      %th Year
      %th Grade
      %th Creator
      %th Modifier
      %th
      %th
      %th
  %tbody
    - @student_sci_degree_grades.each do |student_sci_degree_grade|
      %tr
        %td= student_sci_degree_grade.studentSciDegree
        %td= student_sci_degree_grade.year
        %td= student_sci_degree_grade.grade
        %td= student_sci_degree_grade.creator
        %td= student_sci_degree_grade.modifier
        %td= link_to 'Show', student_sci_degree_grade
        %td= link_to 'Edit', edit_student_sci_degree_grade_path(student_sci_degree_grade)
        %td= link_to 'Destroy', student_sci_degree_grade, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Student sci degree grade', new_student_sci_degree_grade_path
