%p#notice= notice
%p
  %strong Professor:
  = @professor_program_class_course.professor
%p
  %strong Programclasssemestercourse:
  = @professor_program_class_course.programClassSemesterCourse
%p
  %strong Creator:
  = @professor_program_class_course.creator
%p
  %strong Modifier:
  = @professor_program_class_course.modifier
= link_to 'Edit', edit_professor_program_class_course_path(@professor_program_class_course)
|
= link_to 'Back', professor_program_class_courses_path
