%h1 Courses
%table.table
  %thead
    %tr
      %th Course class name
      %th
      %th
      %th
  %tbody
    - @course_classes.each do |course_class|
      %tr
        %td= course_class.courseClassName
        %td= link_to 'Show', course_class
        %td= link_to 'Edit', edit_course_class_path(course_class)
        %td= link_to 'Delete', course_class, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Course class', new_course_class_path
