= form_for(@student_program_status_history) do |f|
  - if @student_program_status_history.errors.any?
    #error_explanation
      %h2
        = pluralize(@student_program_status_history.errors.count, "error")
        prohibited this student_program_status_history from being saved:
      %ul
        - @student_program_status_history.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.hidden_field :studentProgram_id, value: params[:student_program_id]
  .field
    = f.label :programClassStatus
    %br/
    = f.select :programClassStatus_id, ProgramClassStatus.all.map{|s| [s.status,s.id]}
  .field
    = f.label :date
    %br/
    = f.date_select :date
  .field
    = f.label :comments
    %br/
    = f.text_area :comments
  .actions
    = f.submit
