%h4 Status
%table.table
  %thead
    %tr
      %th Programclassstatus
      %th Date
      %th Comments
      %th
      %th
      %th
  %tbody
    - @student_program_status_histories.each do |student_program_status_history|
      %tr
        %td= student_program_status_history.programClassStatus.status
        %td= student_program_status_history.date
        %td= student_program_status_history.comments
        %td= link_to 'Show', student_program_status_history
        %td= link_to 'Edit', edit_student_program_status_history_path(student_program_status_history)
        %td= link_to 'Delete', student_program_status_history, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Status', new_student_program_status_history_path(student_program_id: @student_program.id)
