%h1 Listing student_program_status_histories
%table
  %thead
    %tr
      %th Studentprogram
      %th Programclassstatus
      %th Date
      %th Comments
      %th Creator
      %th Modifier
      %th
      %th
      %th
  %tbody
    - @student_program_status_histories.each do |student_program_status_history|
      %tr
        %td= student_program_status_history.studentProgram
        %td= student_program_status_history.programClassStatus
        %td= student_program_status_history.date
        %td= student_program_status_history.comments
        %td= student_program_status_history.creator
        %td= student_program_status_history.modifier
        %td= link_to 'Show', student_program_status_history
        %td= link_to 'Edit', edit_student_program_status_history_path(student_program_status_history)
        %td= link_to 'Destroy', student_program_status_history, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Student program status history', new_student_program_status_history_path
