= form_for(@student_sci_degree) do |f|
  - if @student_sci_degree.errors.any?
    #error_explanation
      %h2
        = pluralize(@student_sci_degree.errors.count, "error")
        prohibited this student_sci_degree from being saved:
      %ul
        - @student_sci_degree.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :SciDegreeClass
    %br/
    = f.select :SciDegreeClass_id, SciDegreeClass.all.map{|sc| [sc.name, sc.id]}
  .field
    = f.label :student
    %br/
    = f.select :student_id, User.where(id: Student.all.pluck(:user_id)).map{|s| [s.name, s.id]}
  .field
    = f.label :university
    %br/
    = f.select :university_id, University.all.map{|u| [u.name, u.id]}
  .field
    = f.label :faculty
    %br/
    = f.select :faculty_id, Faculty.all.map{|u| [u.name, u.id]}
  .field
    = f.label :department
    %br/
    = f.select :department_id, Department.all.map{|u| [u.name, u.id]}
  .field
    = f.label :graduationYear, 'Graduation Year'
    %br/
    = f.number_field :graduationYear
  .field
    = f.label :fieldOfResearch, 'Field Of Research'
    %br/
    = f.text_field :fieldOfResearch
  .field
    = f.label :gpa, 'GPA'
    %br/
    = f.text_field :gpa
  .actions
    = f.submit
