%h4 Scientific Degrees
%table.table
  %thead
    %tr
      %th Scientific Degree Class
      %th University
      %th Faculty
      %th Department
      %th Graduation year
      %th Field of research
      %th GPA
      %th
      %th
      %th
  %tbody
    - @student_sci_degrees.each do |student_sci_degree|
      %tr
        %td= student_sci_degree.SciDegreeClass.name
        %td= student_sci_degree.university.name
        %td= student_sci_degree.faculty.name
        %td= student_sci_degree.department.name
        %td= student_sci_degree.graduationYear
        %td= student_sci_degree.fieldOfResearch
        %td= student_sci_degree.gpa
        %td= link_to 'Show', student_sci_degree
        %td= link_to 'Edit', edit_student_sci_degree_path(student_sci_degree)
        %td= link_to 'Destroy', student_sci_degree, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'Add Student scientific degree', new_student_sci_degree_path
