 
%p
  %strong Scientific degree class:
  = @student_sci_degree.SciDegreeClass.name
%p
  %strong Student:
  = User.find(@student_sci_degree.student_id).name
%p
  %strong University:
  = @student_sci_degree.university.name
%p
  %strong Faculty:
  = @student_sci_degree.faculty.name
%p
  %strong Department:
  = @student_sci_degree.department.name
%p
  %strong Graduationyear:
  = @student_sci_degree.graduationYear
%p
  %strong Fieldofresearch:
  = @student_sci_degree.fieldOfResearch
%p
  %strong Gpa:
  = @student_sci_degree.gpa
= link_to 'Edit', edit_student_sci_degree_path(@student_sci_degree)
|
= link_to 'Back', student_sci_degrees_path

= render 'student_sci_degree_grades/index'
