= form_for(@student_program_warning_history) do |f|
  - if @student_program_warning_history.errors.any?
    #error_explanation
      %h2
        = pluralize(@student_program_warning_history.errors.count, "error")
        prohibited this student_program_warning_history from being saved:
      %ul
        - @student_program_warning_history.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.hidden_field :studentProgram_id, value: params[:student_program_id]
  .field
    = f.label :warning
    %br/
    = f.text_area :warning
  .field
    = f.label :date
    %br/
    = f.date_select :date
  .actions
    = f.submit
