%h1 Students
%table.table
  %thead
    %tr
      %th National ID
      %th Name
      %th Mobilenumber
      %th Phonenumber
      %th Email
      %th
      %th
      %th
  %tbody
    - @students.each do |student|
      %tr
        %td= student.nationalID
        %td= student.name
        %td= student.mobileNumber
        %td= student.phoneNumber
        %td= student.email
        %td= link_to 'Show', student_path(student, :show_only => "true")
        %td= link_to 'Edit', student_path(student)
        %td= link_to 'Delete', student, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Student', new_user_path
