 
%p
  %strong National ID:
  = @student.user.nationalID
%p
  %strong Name:
  = @student.user.name
%p
  %strong Image url:
  = @student.user.imageURL
%p
  %strong Mobile number:
  = @student.user.mobileNumber
%p
  %strong Phone number:
  = @student.user.phoneNumber
%p
  %strong Email:
  = @student.user.email

%hr
= render 'student_sci_degrees/index'
%hr
= render 'student_programs/index'
