%p#notice= notice
%p
  %strong National ID:
  = @student.nationalID
%p
  %strong Name:
  = @student.name
%p
  %strong Image url:
  = @student.imageURL
%p
  %strong Mobile number:
  = @student.mobileNumber
%p
  %strong Phone number:
  = @student.phoneNumber
%p
  %strong Email:
  = @student.email

%p
= link_to 'Edit', edit_student_path(@student)
|
= link_to 'Back', students_path

%hr
= render 'student_sci_degrees/index'
%hr
= render 'student_programs/index'
