%p#notice= notice
%p
  %strong User:
  = @student.user
%p
  %strong Creator:
  = @student.creator
%p
  %strong Modifier:
  = @student.modifier
= link_to 'Edit', edit_student_path(@student)
|
= link_to 'Back', students_path
