%h1 Supervised Student

%table.table
  %thead
    %tr
      %th National ID
      %th Name
      %th Mobilenumber
      %th Phonenumber
      %th Email
      %th
  %tbody
    - @students.each do |student|
      %tr
        %td= student.user.nationalID
        %td= student.user.name
        %td= student.user.mobileNumber
        %td= student.user.phoneNumber
        %td= student.user.email
        %td= link_to 'Show', student_path(student, :show_only => "true")