%h1 Student dosen't has reports

%h4 Students has no Received Indivdual Report
%table.table
  %thead
    %tr
      %th National ID
      %th Name
      %th Mobilenumber
      %th Phonenumber
      %th Email
      %th
  %tbody
    - @students_with_no_indivdual.each do |student|
      %tr
        %td= student.nationalID
        %td= student.name
        %td= student.mobileNumber
        %td= student.phoneNumber
        %td= student.email
        %td= link_to 'Show', student_path(student, :show_only => "true")

%h4 Students has no Received Collective Report
%table.table
  %thead
    %tr
      %th National ID
      %th Name
      %th Mobilenumber
      %th Phonenumber
      %th Email
      %th
  %tbody
    - @students_with_no_collective.each do |student|
      %tr
        %td= student.nationalID
        %td= student.name
        %td= student.mobileNumber
        %td= student.phoneNumber
        %td= student.email
        %td= link_to 'Show', student_path(student, :show_only => "true")

%h4 Students has no Received Satisfaction Report
%table.table
  %thead
    %tr
      %th National ID
      %th Name
      %th Mobilenumber
      %th Phonenumber
      %th Email
      %th
  %tbody
    - @students_with_no_satisfaction.each do |student|
      %tr
        %td= student.nationalID
        %td= student.name
        %td= student.mobileNumber
        %td= student.phoneNumber
        %td= student.email
        %td= link_to 'Show', student_path(student, :show_only => "true")