%h1 Users
%table.table
  %thead
    %tr
      %th National ID
      %th Name
      %th Mobilenumber
      %th Phonenumber
      %th Email
      %th User Type
      %th
      %th
      %th
  %tbody
    - @users.each do |user|
      %tr
        %td= user.nationalID
        %td= user.name
        %td= user.mobileNumber
        %td= user.phoneNumber
        %td= user.email
        %td= user.userType.try(:name)
        %td= link_to 'Show', user
        %td= link_to 'Edit', edit_user_path(user)
        %td= link_to 'Delete', user, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New User', new_user_path
