= form_for(@student_program_professor) do |f|
  - if @student_program_professor.errors.any?
    #error_explanation
      %h2
        = pluralize(@student_program_professor.errors.count, "error")
        prohibited this student_program_professor from being saved:
      %ul
        - @student_program_professor.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.hidden_field :studentProgram_id, value: params[:student_program_id]
  .field
    = f.label :professor
    %br/
    = f.select :professor_id, Professor.includes(:user).map{|p| [p.user.name,p.id]}
  .field
    = f.label :is_Primary
    %br/
    = f.check_box :isPrimary
  .field
    = f.label :is_Defense_Commitee
    %br/
    = f.check_box :isDefenseCommitee
  .field
    = f.label :comment
    %br/
    = f.text_area :comment
  .field
    = f.label :addition_Date
    %br/
    = f.date_select :additionDate
  .field
    = f.label :is_Accepted
    %br/
    = f.check_box :isAccepted
  .field
    = f.label :acceptance_Date
    %br/
    = f.date_select :acceptanceDate
  .field
    = f.label :is_External
    %br/
    = f.check_box :isExternal
  .field
    = f.label :has_Received_Indivdual_Report
    %br/
    = f.check_box :hasReceivedIndivdualReport
  .field
    = f.label :has_Received_Collective_Report
    %br/
    = f.check_box :hasReceivedCollectiveReport
  .field
    = f.label :has_Received_Satisfaction_Report
    %br/
    = f.check_box :hasReceivedSatisfactionReport
  .field
    = f.label :is_Committee_Head
    %br/
    = f.check_box :isCommitteeHead
  .actions
    = f.submit
