= form_for(@student_program_professor) do |f|
  - if @student_program_professor.errors.any?
    #error_explanation
      %h2
        = pluralize(@student_program_professor.errors.count, "error")
        prohibited this student_program_professor from being saved:
      %ul
        - @student_program_professor.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :studentProgram
    %br/
    = f.text_field :studentProgram
  .field
    = f.label :professor
    %br/
    = f.text_field :professor
  .field
    = f.label :isPrimary
    %br/
    = f.check_box :isPrimary
  .field
    = f.label :isDefenseCommitee
    %br/
    = f.check_box :isDefenseCommitee
  .field
    = f.label :comment
    %br/
    = f.text_area :comment
  .field
    = f.label :additionDate
    %br/
    = f.date_select :additionDate
  .field
    = f.label :isAccepted
    %br/
    = f.check_box :isAccepted
  .field
    = f.label :acceptanceDate
    %br/
    = f.date_select :acceptanceDate
  .field
    = f.label :isExternal
    %br/
    = f.check_box :isExternal
  .field
    = f.label :hasReceivedIndivdualReport
    %br/
    = f.check_box :hasReceivedIndivdualReport
  .field
    = f.label :hasReceivedCollectiveReport
    %br/
    = f.check_box :hasReceivedCollectiveReport
  .field
    = f.label :hasReceivedSatisfactionReport
    %br/
    = f.check_box :hasReceivedSatisfactionReport
  .field
    = f.label :isCommitteeHead
    %br/
    = f.check_box :isCommitteeHead
  .field
    = f.label :creator
    %br/
    = f.text_field :creator
  .field
    = f.label :modifier
    %br/
    = f.text_field :modifier
  .actions
    = f.submit
